@using MarketWB.Web.Helpers
@using MarketWB.Web.ViewModels.Cabinet.Dashboard
@{
    Layout = "_Layout";
}
@model DashboardVM

    @{
        var user = await UserHelper.GetUser(User);
    }

 <div class="container">
      <div class="dashboard-header">
        <div class="titledash">Реферальная программа</div>
      </div>

      <div class="col-md-12">
          <div class="wbalert">
            С помощью реферальной программы FEENO вы можете приглашать своих друзей с
            помощью вашей индивидуальной ссылки и зарабатывать 300 рублей за каждого нового
            пользователя, оплатившего доступ от месяца. 
          </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="refblock">
            <div class="refhead">
              <div class="reftitle">Реферальная ссылка</div>
              <div class="pngicon pngicon-url"></div>
            </div>

            <a class="refurl">@user.GetRefferalLink()</a>
            <div class="refinfo"><i data-bs-toggle="tooltip" data-bs-placement="top" title="Ваша индивидуальная ссылка, с помощью нее вы можете приглашать новых пользователей и получать бонусы, которые можете вывести на свою карту." class="las la-info-circle"></i></div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="refblock">
            <div class="refhead">
              <div class="reftitle">На счету <i data-bs-toggle="tooltip" data-bs-placement="top" title="Количество заработанных вами средств. Вывод возможен от 2000 рублей." class="las la-info-circle"></i></div>
              <div class="pngicon pngicon-money"></div>
            </div>

            <div class="refh1">@Convert.ToInt32(user.ReferralBalance) ₽</div>
           @* <div class="refinfo"><i alt="Количество заработанных вами средств. Вывод возможен от 2000 рублей." class="las la-info-circle"></i></div>*@
            <div class="refinfo"><a asp-action="WithdrawHistory" asp-controller="Referral"><button class="buttonwb refbtn">Вывести</button></a></div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="refblock">
            <div class="refhead">
              <div class="reftitle">Приглашено людей</div>
              <div class="pngicon pngicon-user"></div>
            </div>

            <div class="refh1">@user.Referrals.Count</div>
            <div class="refinfo"><i data-bs-toggle="tooltip" data-bs-placement="top" title="Количество новых пользователей, которые перешли на сайт FEENO по вашей индивидуальной ссылке и зарегистрировались" class="las la-info-circle"></i></div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="refblock">
            <div class="refhead">
              <div class="reftitle">Оплативших подписку</div>
              <div class="pngicon pngicon-cash"></div>
            </div>

            <div class="refh1">@user.GetPaidRefferalsCount()</div>
            <div class="refinfo"><i data-bs-toggle="tooltip" data-bs-placement="top" title="Количество новых пользователей, которые перешли на сайт FEENO по вашей индивидуальной ссылке, зарегистрировались и оплатили доступ от месяца." class="las la-info-circle"></i></div>
          </div>
        </div>
      </div>
    </div>

  