@{
    Layout = "_Layout";
}
@model MarketAI.API.Models.TicketModel


    <div class="container">
      <div class="dashboard-header wbmargin">
        <div class="titledash">Тикеты</div>
      </div>

      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Тикеты</li>
          <li class="breadcrumb-item active" aria-current="page">Создать тикет</li>
        </ol>
      </nav>
    </div>

    <div class="container">
      <div class="row">
        <div class="ticket">
          <div class="ticket-header">Тикет</div>
          <div class="ticketicon"></div>
          <div class="ticket-content">
            <form asp-action="CreateTicketPost" asp-controller="UserTickets" enctype="multipart/form-data" method="post">
              <div class="mb-3">
                <label class="wblabel">Заголовок</label>
                <input type="text" asp-for="Topic" required class="form-lk" placeholder="Текст">
              </div>
  
              <div class="mb-3">
                <label class="wblabel">Суть проблемы</label>
                <textarea type="text" asp-for="Description" required class="form-lk" placeholder="Текст" rows="3"></textarea>
              </div>

              <div class="input-group mb-3">
                <label class="wblabel"></label>
                <input type="text" readonly class="feenoload form-control" id="filename" placeholder="">
                <button  type="button" class="btn btnprofile wbselfbtn" id="file-input" name="file" value="loadXml" onclick="document.getElementById('file').click();"><i class="las la-folder-open"></i> Вложения</button>
                <input type="file" style="display:none;" id="file" name="file"/>
              </div>

              <div class="groupsend">
                <button type="submit" class="wbsender">Открыть тикет</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <script>
         $('#file').change(function(){
            // Если файл прикрепили то заносим значение value в переменную
            var fileResult = $(this).val();
            // И дальше передаем значение в инпут который под загрузчиком
            $(this).parent().find('#filename').val(fileResult);
            });
    </script>

