@{
    Layout = "_Layout";
}
@model IEnumerable<MarketAI.API.Models.TicketModel>

     <div class="container">
      <div class="row">
        <div class="dashboard-header wbmargin">
            <div class="titledash">@*<i class="las la-shopping-bag"></i> *@Мои тикеты</div>
             <div class="control-elements">
                <div class="elements-content">
                    <a asp-action="CreateTicket" asp-controller="UserTickets" class="create-ticket">Создать тикет</a>
                </div>
            </div>
        </div>

        <script>
          $(document).ready(function () {
              $('#buytable').DataTable();
          });
        </script>

        <div class="panel panel-default">
          <table id="buytable" class="table table-striped" style="width:100%">
            <thead class="wbtableheader">
                <tr>
                    <th>
                      Id
                      <div class="wbtcont">
                     @*   <i alt="Информация при наведении" class="las la-info-circle wbinfot"></i>*@
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      Тема
                      <div class="wbtcont">
                       @* <i alt="Информация при наведении" class="las la-info-circle wbinfot"></i>*@
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      Описание
                      <div class="wbtcont">
                      @*  <i alt="Информация при наведении" class="las la-info-circle wbinfot"></i>*@
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th>
                      Статус тикета
                      <div class="wbtcont">
                       @* <i alt="Информация при наведении" class="las la-info-circle wbinfot"></i>*@
                        <i class="las la-sort wbsort"></i>
                      </div>
                    </th>
                    <th style="width: 30px;">
                     
                    </th>
                </tr>
            </thead>
            <tbody>
               @foreach(var ticket in Model)
               {
                      <tr>
                          <td>@ticket.Id</td>
                          <td>@ticket.Topic</td>
                          <td>@ticket.Description</td>
                          <td>
                              @if (ticket.IsClosed)
                              {
                                 <span>Закрыт</span>
                              }
                              else
                              {
                                 <span>Открыт</span>
                              }
                          </td>
                          <td><a asp-action="ShowTicket" asp-controller="UserTickets" asp-route-id="@ticket.Id">Перейти</a></td>
                     </tr>  
                  }
            </tbody>
          </table>
        </div>
      </div>


    </div>