@{
    Layout = "_AdminLayout";
}
@model MarketAI.API.Models.PostModel

<div id="content">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Новости</h3>
                <p class="animated fadeInDown">
                    Новости <span class="fa-angle-right fa"></span> Создание поста
                </p>
            </div>
        </div>
    </div>
    <div class="form-element">
        <div class="col-md-12 padding-0">
            <div class="col-md-8">
                <div class="panel form-element-padding">
                    <div class="panel-heading">
                        <h4>Новостная запись</h4>
                    </div>
                    <form asp-action="CreatePostPOST" asp-controller="Posts" asp-route-post="@Model" method="POST" enctype="multipart/form-data" class="panel-body" style="padding-bottom:30px;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Заголовок</label>
                                <div class="col-sm-10"><input type="text" required class="form-control" asp-for="Caption"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Теги</label>
                                <div class="col-sm-10"><input type="text" required class="form-control" asp-for="Tags"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Текст</label>
                                <div class="col-sm-10"><textarea required class="form-control" asp-for="Description"></textarea></div>
                            </div>
                            <div class="col-sm-12 padding-0">
                                <input type="checkbox" name="option" style="margin-left:90px;margin-top:15px" asp-for="PublishAfter"> Опубликовать позже 
                            </div>
                            <div class="form-group" style="margin-top:10px">
                                <label class="col-sm-2 control-label text-right">Дата</label>
                                <div class="col-sm-10"><input type="datetime-local" class="form-control" asp-for="PublishAfterDate"></div>
                            </div>

                        </div>
                        <div class="input-group fileupload-v1" style="width: 96%;">
                            <input type="file" name="manualfile" class="fileupload-v1-file hidden" />
                            <input type="text" class="form-control fileupload-v1-path" placeholder="File Path..." disabled>
                            <span class="input-group-btn">
                                <button class="btn fileupload-v1-btn" type="button"><i class="fa fa-folder"></i> Выберите изображение для загрузки</button>
                            </span>
                        </div>

                        <input class="submit btn btn-danger" style="margin-top:10px;width:94%;" type="submit" value="Создать новость">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


