@{
    Layout = "_AdminLayout";
}
@model MarketAI.API.Models.PromocodeModel

<div id="content">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Промокоды</h3>
                <p class="animated fadeInDown">
                    Промокоды <span class="fa-angle-right fa"></span> Редактирование промокода
            </div>
        </div>
    </div>
    <div class="form-element">
        <div class="col-md-12 padding-0">
            <div class="col-md-8">
                <div class="panel form-element-padding">
                    <div class="panel-heading">
                        <h4>Промокод на услуги</h4>
                    </div>
                    <form asp-action="UpdatePromocodePOST" asp-controller="Promocodes" asp-route-id="@Model.Id"  asp-route-model="@Model" method="POST" class="panel-body" style="padding-bottom:30px;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Промокод</label>
                                <div class="col-sm-10"><input type="text" required class="form-control" value="@Model.Code" asp-for="Code"></div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Тип</label>
                                <input style="margin-left: 10px;" type="radio" id="percent_radio" 
                                                        
                                                        asp-for="Type" value="1">
                                <label for="percent_radio">Проценты</label>

                               <input style="margin-left: 10px;" type="radio" id="value_radio" 
                                                        
                                                       asp-for="Type" value="2">
                               <label for="value_radio">Сумма</label>
                            </div>
                            <div class="form-group" style="margin-top: -35px;">
                                <label class="col-sm-2 control-label text-right">Значение</label>
                                <div class="col-sm-10"><input type="number" max="500000" min="1" required class="form-control" value="@Model.Percent" asp-for="Percent"></div>
                            </div>
                            <input class="submit btn btn-danger" style="margin-top:10px;width:96%;" type="submit" value="Сохранить изменения">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>