@{
    Layout = "_Layout";
}
<div id="content">

    <div class="panel-body">
        <div class="col-md-12">
            <h3 class="animated fadeInLeft">Профиль</h3>
        </div>
    </div>

    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-12 list-timeline">
                        <div class="col-md-12 list-timeline-section bg-light">
                            <h3>ИП Левченко Виталий Александрович‎</h3>
                            <h3><b>ИНН: </b>301302874735</h3>
                            <h3><b>ОГРНИП: </b>319344300077693</h3>
                            <h3><b>Телефон: </b>+79275093355</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>