@{
    Layout = "_Layout";
}

    <div class="panel-body">
        <div class="col-md-12">
            <h3 class="animated fadeInLeft">О сервисе</h3>
        </div>
    </div>

    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-12 list-timeline">
                        <div class="col-md-12 list-timeline-section bg-light">
                            <h3>ИП Казакевич Екатерина Александровна‎</h3>
                            <h3><b>ИНН: </b>772154263180</h3>
                            <h3><b>ОГРНИП: </b>321774600287455</h3>
                            <h3><b>Email: </b>wb.pr0@yandex.ru </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
