@{
    Layout = "_Layout";
}
<main class="v-main" style="padding: 48px 0px 0px 220px;" data-booted="true">
    <div class="v-main__wrap">
        <div class="container container--fluid pa-0">
            <div data-v-6f7fa27c="" class="container pa-0 container--fluid">
                <div data-v-6f7fa27c="" style="">
                    <div data-v-6f7fa27c="" class="px-4 pt-4 rounded-0 v-card v-sheet theme--light elevation-4"
                         id="fixedBlock" style="position: fixed; z-index: 1; width: 1299px;">
                        <div data-v-6f7fa27c="" class="row pb-4 no-gutters">
                            <div data-v-6f7fa27c="" class="pr-sm-10 col col-auto">
                                <div data-v-6f7fa27c="" class="firstColumn">
                                    <div data-v-6f7fa27c="" class="row no-gutters align-center justify-space-between">
                                        <div data-v-6f7fa27c="" class="col col-auto">
                                            <button data-v-6f7fa27c="" type="button" class="v-btn v-btn--outlined theme--light v-size--default primary--text">
                                                <span class="v-btn__content">
                                                    Добавить к сравнению
                                                </span>
                                            </button>
                                            <span data-v-6f7fa27c="" class="v-tooltip v-tooltip--bottom">
                                                <!---->
                                            </span>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <div data-v-6f7fa27c="" class="col">
                            </div>
                        </div>
                    </div>
                    <div data-v-6f7fa27c="" class="px-4" style="padding-top: 84px;">
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_extra" class="chartBlock" style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_recommendedCostPrice" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_marginality" class="chartBlock" style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_averageSalePrice" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_averageSale" class="chartBlock" style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_averagePromo" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_totalSale" class="chartBlock" style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_averageRecommendedRetailPrice" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_averageComments" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_averageRating" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_marketSize" class="chartBlock" style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_lostProfit" class="chartBlock" style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_percentLostProfit" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_marketGrowth" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_revenueSupplier" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_averageRevenueSupplier" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_increaseRevenueSupplier" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_marketGrowth30" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_supplierWithSales" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_increaseSupplierWithSales" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_increaseRevenueSupplierWithSales"
                                             class="chartBlock" style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center mb-4 dataBlock"
                             style="display: none;">
                            <!---->
                            <div data-v-6f7fa27c="" class="col px-2 py-4">
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="pa-0 pr-2 col col-auto">
                                        <div data-v-6f7fa27c="" role="alert" class="v-alert ma-0 text-left v-sheet theme--light v-alert--dense v-alert--text primary--text">
                                            <div class="v-alert__wrapper">
                                                <div class="v-alert__content">
                                                    недостаточно данных
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-6f7fa27c="" class="row no-gutters">
                                    <div data-v-6f7fa27c="" class="col">
                                        <div data-v-6f7fa27c="" id="chartdiv_revenueSupplierWithSales" class="chartBlock"
                                             style="width: 100%; height: 0px; display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---->
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                        <div data-v-6f7fa27c="" class="row no-gutters align-center">
                            <!---->
                        </div>
                    </div>
                </div>
                <div data-v-6f7fa27c="" class="row pt-4 no-gutters justify-center" style="display: none;">
                    <div data-v-6f7fa27c="" class="col col-auto">
                        <div data-v-6f7fa27c="" role="alert" class="v-alert v-sheet v-sheet--outlined theme--light v-alert--outlined info--text">
                            <div class="v-alert__wrapper">
                                <i aria-hidden="true" class="v-icon notranslate v-alert__icon mdi mdi mdi mdi-autorenew mdi-spin theme--light info--text">
                                </i>
                                <div class="v-alert__content">
                                    Обработка данных...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-6f7fa27c="" class="row no-gutters justify-center">
                    <div data-v-6f7fa27c="" class="col col-auto">
                        <div data-v-6f7fa27c="" class="v-image v-responsive theme--light">
                            <div class="v-responsive__sizer" style="padding-bottom: 257.542%;">
                            </div>
                            <div class="v-image__image v-image__image--contain" style="background-image: url(&quot;https://lk.marketai.ru/analysis.png&quot;); background-position: center center;">
                            </div>
                            <div class="v-responsive__content" style="width: 895px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-6f7fa27c="" class="v-dialog__container">
                    <!---->
                </div>
                <div data-v-727143f4="" data-v-6f7fa27c="" class="v-dialog__container">
                    <!---->
                </div>
            </div>
        </div>
    </div>
</main>
<div class="v-dialog__container">
    <!---->
</div>