@{
    Layout = "_Layout";
}
<div id="content">

    <div class="panel-body">
        <div class="col-md-12">
            <h3 class="animated fadeInLeft">Профиль</h3>
        </div>
    </div>

    <style>
        .custom_button {
            width: 370px;
            margin-top: 10px;
        }
        .button_header{
            color:black;
        }
    </style>

    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-12 list-timeline">
                        <div class="col-md-12 list-timeline-section bg-light">
                            <button class="btn btn-outline-primary custom_button">
                                <p class="button_header">Смена пароля</p>
                                <span>Хотите сменить пароль? Не проблема!</span>
                            </button>
                            <br />
                            <button class="btn btn-outline-primary custom_button" >
                                <p class="button_header">Промокод</p>
                                <span>Ввести промокод скидки</span>
                            </button>
                            <br />
                            <button class="btn btn-outline-primary custom_button"  >
                                <p class="button_header">Продлить подписка</p>
                                <span>.</span>
                            </button>
                            <br />
                            <button class="btn btn-outline-primary custom_button" >
                                <p class="button_header">Срок действия подписки</p>
                                <span>до 11.11.9999</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
