@{
    Layout = "_Layout";
}
<main class="v-main" style="padding: 48px 0px 0px 220px;" data-booted="true">
    <div class="v-main__wrap">
        <div class="container container--fluid pa-0">
            <div class="row no-gutters">
                <div class="px-10 py-6 col">
                    <p class="subtitle-1 font-weight-medium">
                        Обратная связь
                    </p>
                    <p>
                        <a href="mailto:mail@def.center">mail@def.center</a>
                    </p>
                    <p class="subtitle-1 font-weight-medium">
                        Предложить улучшение
                    </p>
                    <p>
                        <a href="https://def.center/marketaibrief">https://def.center/marketaibrief</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="v-dialog__container">
    <!---->
</div>