@{
    Layout = "_Layout";
}

  <div class="container">
      <div class="row">
        <div class="dashboard-header wbmargin">
            <div class="titledash"><i class="las la-wallet"></i> Токен только что добавлен</div>
        </div>

        <div class="col-md-12">
          <div class="wbalert">
             Подождите 5-7 минут, пока не загрузится статистика
          </div>
        </div>

      </div>


    </div>
