@{
    Layout = "_Layout";
}

        @await Component.InvokeAsync("DashboardHeaderComponent",new {vm = Model})
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h1 class="animated fadeInLeft">Токен только что добавлен</h1>
                <h3 class="animated fadeInLeft">Подождите 5-7 минут, пока не загрузится статистика</h3>
            </div>
        </div>
    </div>
