@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

     <div class="container">
      <div class="dashboard-header">
        <div class="titledash">Произошла ошибка</div>
      </div>

      <div class="col-md-12">
          <div class="wbalert">
            Странно, но что-то пошло не так
          </div>
      </div>

      <div class="row">

       

      </div>
    </div>