@{
    Layout = "_AdminLayout";
}
@model List<GroupedVisitorsByDay>
<!-- start: Content -->
<div id="content">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Статистика</h3>
            </div>
        </div>
    </div>
    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading"><h3>Статистика посещений</h3></div>
                <div class="panel-body">
                    <div class="responsive-table">
                        <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Количество посещений</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var visitorsByDay in Model)
                                {
                                    <tr>
                                        <td>@visitorsByDay.Date</td>
                                        <td>@visitorsByDay.Visitors</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: content -->
