@*@{
    Layout = null;
}*@


    <!-- CONTENT -->
    <div class="container-fluid">
        <div class="row pagenotfound404">
          <div class="col-md-6">
              <div class="lens404"></div>

              <div class="pagenotfound mobile">
                <div class="content">
                  <div class="mb-4">
                    <div class="header-title0">Страница не найдена</div>
                  </div>
                  <div class="mb-4">
                    <div class="desc-title0">Похоже страница не найдена, попробуйте перезагрузить или вернуться на главную</div>
                  </div>
    
                  <div class="mb-4">
                    <a href="/" class="btnprofile">На главную</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-6">
            <div class="pagenotfound desktop">
              <div class="content">
                <div class="mb-4">
                  <div class="header-title0">Страница не найдена</div>
                </div>
                <div class="mb-4">
                  <div class="desc-title0">Похоже страница не найдена, попробуйте перезагрузить или вернуться на главную</div>
                </div>
  
                <div class="mb-4">
                  <a href="/" class="btnprofile">На главную</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
