@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta data-n-head="1" data-hid="description" name="description" content="">
    <meta data-n-head="1" name="format-detection" content="telephone=no">
    <link data-n-head="1" rel="stylesheet" type="text/css" href="~/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="~/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="~/css/offsets.css">
    <link rel="stylesheet" type="text/css" href="~/css/flex.css">
    <link rel="stylesheet" type="text/css" href="~/css/progress.css">
    <link rel="stylesheet" type="text/css" href="~/css/lists.css">
    <link rel="stylesheet" type="text/css" href="~/css/toolbars.css">
    <link rel="stylesheet" type="text/css" href="~/css/toasts.css">
    <link rel="stylesheet" type="text/css" href="~/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/css/nuxt.css">
    <link rel="stylesheet" type="text/css" href="~/css/cards.css">
    <link rel="stylesheet" type="text/css" href="~/css/other.css">
    <link rel="stylesheet" type="text/css" href="~/css/tables.css">
    <link rel="stylesheet" type="text/css" href="~/css/alerts.css">
    <link rel="stylesheet" type="text/css" href="~/css/files.css">
    <link rel="stylesheet" type="text/css" href="~/css/text.css">
    <link rel="stylesheet" type="text/css" href="~/css/chips.css">
    <link rel="stylesheet" type="text/css" href="~/css/select.css">
    <title>Дашборд</title>
    <meta data-n-head="1" name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div id="__nuxt">
        <!---->
        <div id="__layout">
            <div data-app="true" class="v-application v-application--is-ltr theme--light"
                 id="app">
                <div class="v-overlay theme--dark" style="z-index: 6;">
                    <div class="v-overlay__scrim" style="opacity: 0; background-color: rgb(33, 33, 33); border-color: rgb(33, 33, 33);">
                    </div>
                </div>
                <div class="v-application--wrap">
                    <div class="v-dialog__container">
                    </div>
                    <div class="v-dialog__container">
                        <!---->
                    </div>
                    <nav class="v-navigation-drawer v-navigation-drawer--clipped v-navigation-drawer--fixed v-navigation-drawer--open theme--light"
                         style="height: 100vh; top: 48px; transform: translateX(0%); width: 220px; max-height: calc(100% - 48px);"
                         data-booted="true">
                        <div class="v-navigation-drawer__content">
                            <div class="v-list v-sheet theme--light v-list--dense v-list--nav">
                                <a tabindex="0" href="https://t.me/marketAInews" class="v-list-item v-list-item--link theme--light"><div class="v-list-item__icon"><i aria-hidden="true" class="v-icon notranslate mdi mdi-bullhorn-outline theme--light primary--text"></i></div> <div class="v-list-item__title">Что нового?</div></a>
                                <a href="https://lk.marketai.ru/wildberries" class="v-list-item v-list-item--link theme--light"
                                   tabindex="0"><div class="v-list-item__icon"><i aria-hidden="true" class="v-icon notranslate mdi mdi-chart-gantt theme--light primary--text"></i></div> <div class="v-list-item__title">Анализ ниш</div></a>
                                <div class="v-list-group v-list-group--active primary--text">
                                    <div tabindex="0" aria-expanded="true" role="button" class="v-list-group__header v-list-item v-list-item--active v-list-item--link theme--light v-list-item--active">
                                        <div class="v-list-item__icon v-list-group__header__prepend-icon">
                                            <i aria-hidden="true" class="v-icon notranslate mdi mdi-finance theme--light">
                                            </i>
                                        </div>
                                        <div class="v-list-item__title">
                                            Управленка
                                        </div>
                                        <div class="v-list-item__icon v-list-group__header__append-icon">
                                            <i aria-hidden="true" class="v-icon notranslate mdi mdi-chevron-down theme--light">
                                            </i>
                                        </div>
                                    </div>
                                    <div class="v-list-group__items">
                                        <a href="https://lk.marketai.ru/dash" aria-current="page" class="v-list-item--active v-list-item v-list-item--link theme--light"
                                           tabindex="0"><div class="v-list-item__icon"><i aria-hidden="true" class="v-icon notranslate material-icons theme--light primary--text"></i></div> <div class="v-list-item__title">Дашборд</div></a>
                                        <a href="https://lk.marketai.ru/sales" class="v-list-item v-list-item--link theme--light"
                                           tabindex="0"><div class="v-list-item__icon"><i aria-hidden="true" class="v-icon notranslate material-icons theme--light primary--text"></i></div> <div class="v-list-item__title">Продажи</div></a>
                                        <a href="https://lk.marketai.ru/products" class="v-list-item v-list-item--link theme--light"
                                           tabindex="0"><div class="v-list-item__icon"><i aria-hidden="true" class="v-icon notranslate material-icons theme--light primary--text"></i></div> <div class="v-list-item__title">Артикулы</div></a>
                                        <a href="https://lk.marketai.ru/analysis" class="v-list-item v-list-item--link theme--light"
                                           tabindex="0"><div class="v-list-item__icon"><i aria-hidden="true" class="v-icon notranslate material-icons theme--light primary--text"></i></div> <div class="v-list-item__title">Анализ</div></a>
                                        <a href="https://lk.marketai.ru/checklist" class="v-list-item v-list-item--link theme--light"
                                           tabindex="0"><div class="v-list-item__icon"><i aria-hidden="true" class="v-icon notranslate material-icons theme--light primary--text"></i></div> <div class="v-list-item__title">Чек-лист</div></a>
                                        <a href="https://lk.marketai.ru/orders" class="v-list-item v-list-item--link theme--light"
                                           tabindex="0"><div class="v-list-item__icon"><i aria-hidden="true" class="v-icon notranslate material-icons theme--light primary--text"></i></div> <div class="v-list-item__title">Заказы</div></a>
                                    </div>
                                </div>
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <a href="https://lk.marketai.ru/profile" class="v-list-item v-list-item--link theme--light"
                                   tabindex="0"><div class="v-list-item__icon"><i aria-hidden="true" class="v-icon notranslate mdi mdi-account-outline theme--light primary--text"></i></div> <div class="v-list-item__title">Профиль</div></a>
                                <a href="https://lk.marketai.ru/support" class="v-list-item v-list-item--link theme--light"
                                   tabindex="0"><div class="v-list-item__icon"><i aria-hidden="true" class="v-icon notranslate mdi mdi-help-circle-outline theme--light primary--text"></i></div> <div class="v-list-item__title">Поддержка</div></a>
                                <a href="https://lk.marketai.ru/about" class="v-list-item v-list-item--link theme--light"
                                   tabindex="0"><div class="v-list-item__icon"><i aria-hidden="true" class="v-icon notranslate mdi mdi-information-outline theme--light primary--text"></i></div> <div class="v-list-item__title">О сервисе</div></a>
                                <div tabindex="0" class="v-list-item v-list-item--link theme--light">
                                    <div class="v-list-item__icon">
                                        <i aria-hidden="true" class="v-icon notranslate mdi mdi-lock theme--light primary--text">
                                        </i>
                                    </div>
                                    <div class="v-list-item__title">
                                        Выход
                                    </div>
                                </div>
                                <!---->
                            </div>
                        </div>
                        <div class="v-navigation-drawer__border">
                        </div>
                    </nav>
                    <header class="v-sheet theme--light v-toolbar v-toolbar--dense v-app-bar v-app-bar--clipped v-app-bar--fixed"
                            style="height: 48px; margin-top: 0px; transform: translateY(0px); left: 0px; right: 0px;"
                            data-booted="true">
                        <div class="v-toolbar__content" style="height: 48px;">
                            <button type="button" class="v-app-bar__nav-icon v-btn v-btn--icon v-btn--round theme--light v-size--default">
                                <span class="v-btn__content">
                                    <i aria-hidden="true" class="v-icon notranslate mdi mdi-menu theme--light">
                                    </i>
                                </span>
                            </button>
                            <div class="spacer">
                            </div>
                            <div class="v-toolbar__title primary--text" style="font-family: &quot;IBM Plex Sans&quot;, sans-serif;">
                                <span style="font-size: 14pt;">
                                    market
                                </span>
                                <span style="font-size: 16pt;">
                                    AI
                                </span>
                            </div>
                            <div class="spacer">
                            </div>
                            <div class="v-toolbar__title mr-6">
                                Екатерина +79166358331
                            </div>
                            <div class="v-toolbar__title">
                                <button type="button" class="v-btn v-btn--outlined theme--light v-size--small primary--text">
                                    <span class="v-btn__content">
                                        Купить
                                    </span>
                                </button>
                            </div>
                        </div>
                    </header>
                    <main class="v-main" style="padding: 48px 0px 0px 220px;" data-booted="true">
                        <div class="v-main__wrap">
                            <div class="container container--fluid pa-0">
                                <div data-v-bfa6ccb2="" class="row pt-1 no-gutters">
                                    <div data-v-bfa6ccb2="" class="container pa-0 ma-0 container--fluid">
                                        <div data-v-bfa6ccb2="" class="row px-4 pb-4 no-gutters">
                                            <div data-v-bfa6ccb2="" class="col">
                                                <div data-v-bfa6ccb2="" class="row no-gutters">
                                                    <div class="pr-4 col-sm-6 col-lg-3 col-12">
                                                        <div>
                                                            <div class="v-input v-input--hide-details v-input--is-label-active v-input--is-dirty theme--light v-text-field v-text-field--is-booted v-text-field--placeholder v-select v-autocomplete">
                                                                <div class="v-input__prepend-outer">
                                                                    <div class="v-input__icon v-input__icon--prepend">
                                                                        <i aria-hidden="true" class="v-icon notranslate mdi mdi-key-chain theme--light">
                                                                        </i>
                                                                    </div>
                                                                </div>
                                                                <div class="v-input__control">
                                                                    <div role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-owns="list-72"
                                                                         class="v-input__slot">
                                                                        <div class="v-select__slot">
                                                                            <label for="input-72" class="v-label v-label--active theme--light" style="left: 0px; right: auto; position: absolute;">
                                                                                <div class="">
                                                                                    Список токенов
                                                                                    <!---->
                                                                                </div>
                                                                            </label>
                                                                            <input id="input-72" type="text" autocomplete="off">
                                                                            <div class="v-input__append-inner">
                                                                                <div class="v-input__icon v-input__icon--clear">
                                                                                    <button type="button" aria-label="clear icon" class="v-icon notranslate v-icon--link mdi mdi-close theme--light">
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                            <div class="v-input__append-inner">
                                                                                <div class="v-input__icon v-input__icon--append">
                                                                                    <i aria-hidden="true" class="v-icon notranslate mdi mdi-menu-down theme--light">
                                                                                    </i>
                                                                                </div>
                                                                            </div>
                                                                            <input type="hidden" value="[object Object]">
                                                                        </div>
                                                                        <div class="v-menu">
                                                                            <!---->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="v-input__append-outer">
                                                                    <button type="button" class="ma-0 v-btn v-btn--icon v-btn--outlined v-btn--round theme--light v-size--default primary--text">
                                                                        <span class="v-btn__content">
                                                                            <i aria-hidden="true" class="v-icon notranslate mdi mdi-key-plus mdi-rotate-90 theme--light">
                                                                            </i>
                                                                        </span>
                                                                    </button>
                                                                    <span class="v-tooltip v-tooltip--bottom">
                                                                        <!---->
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="v-dialog__container">
                                                                <!---->
                                                            </div>
                                                            <div class="v-dialog__container">
                                                                <!---->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pr-4 col-sm-6 col-lg-3 col-12">
                                                        <div class="v-input v-input--hide-details theme--light v-text-field v-text-field--is-booted v-text-field--placeholder v-select v-autocomplete">
                                                            <div class="v-input__control">
                                                                <div role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-owns="list-89"
                                                                     class="v-input__slot">
                                                                    <div class="v-select__slot">
                                                                        <label for="input-89" class="v-label theme--light" style="left: 0px; right: auto; position: absolute;">
                                                                            <div class="">
                                                                                Бренд
                                                                                <!---->
                                                                            </div>
                                                                        </label>
                                                                        <input id="input-89" type="text" autocomplete="off">
                                                                        <div class="v-input__append-inner">
                                                                            <div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="v-input__append-inner">
                                                                            <div class="v-input__icon v-input__icon--append">
                                                                                <i aria-hidden="true" class="v-icon notranslate mdi mdi-menu-down theme--light">
                                                                                </i>
                                                                            </div>
                                                                        </div>
                                                                        <input type="hidden">
                                                                    </div>
                                                                    <div class="v-menu">
                                                                        <!---->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pr-4 col-sm-6 col-lg-3 col-12">
                                                        <div class="v-input v-input--hide-details theme--light v-text-field v-text-field--is-booted v-text-field--placeholder v-select v-autocomplete">
                                                            <div class="v-input__control">
                                                                <div role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-owns="list-94"
                                                                     class="v-input__slot">
                                                                    <div class="v-select__slot">
                                                                        <label for="input-94" class="v-label theme--light" style="left: 0px; right: auto; position: absolute;">
                                                                            <div class="">
                                                                                Категория
                                                                                <!---->
                                                                            </div>
                                                                        </label>
                                                                        <input id="input-94" type="text" autocomplete="off">
                                                                        <div class="v-input__append-inner">
                                                                            <div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="v-input__append-inner">
                                                                            <div class="v-input__icon v-input__icon--append">
                                                                                <i aria-hidden="true" class="v-icon notranslate mdi mdi-menu-down theme--light">
                                                                                </i>
                                                                            </div>
                                                                        </div>
                                                                        <input type="hidden">
                                                                    </div>
                                                                    <div class="v-menu">
                                                                        <!---->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col col-auto">
                                                        <div class="row no-gutters">
                                                            <div class="dateinput col col-auto">
                                                                <div class="v-input v-input--hide-details v-input--is-label-active v-input--is-dirty v-input--is-readonly theme--light v-text-field v-text-field--is-booted">
                                                                    <div class="v-input__prepend-outer">
                                                                        <div class="v-input__icon v-input__icon--prepend">
                                                                            <i aria-hidden="true" class="v-icon notranslate mdi mdi-calendar theme--light">
                                                                            </i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="v-input__control">
                                                                        <div class="v-input__slot">
                                                                            <div class="v-text-field__slot">
                                                                                <label for="input-100" class="v-label v-label--active theme--light" style="left: 0px; right: auto; position: absolute;">
                                                                                    <div class="">
                                                                                        Период
                                                                                        <!---->
                                                                                    </div>
                                                                                </label>
                                                                                <input id="input-100" readonly="readonly" type="text">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="v-menu">
                                                                    <!---->
                                                                </div>
                                                            </div>
                                                            <div class="pl-4 col col-auto">
                                                                <button type="button" class="v-btn v-btn--icon v-btn--outlined v-btn--round theme--light v-size--default primary--text mt-3">
                                                                    <span class="v-btn__content">
                                                                        <i aria-hidden="true" class="v-icon notranslate mdi mdi-refresh theme--light">
                                                                        </i>
                                                                    </span>
                                                                </button>
                                                                <span class="v-tooltip v-tooltip--bottom">
                                                                    <!---->
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!---->
                                    <div data-v-bfa6ccb2="" class="container pa-0 ma-0 container--fluid" style="display: none;">
                                        <div data-v-bfa6ccb2="" class="row pt-4 no-gutters justify-center">
                                            <div data-v-bfa6ccb2="" class="col col-auto">
                                                <div data-v-bfa6ccb2="" role="alert" class="v-alert v-sheet v-sheet--outlined theme--light v-alert--outlined info--text">
                                                    <div class="v-alert__wrapper">
                                                        <i aria-hidden="true" class="v-icon notranslate v-alert__icon mdi mdi mdi mdi-autorenew mdi-spin theme--light info--text">
                                                        </i>
                                                        <div class="v-alert__content">
                                                            Обработка данных...
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-bfa6ccb2="" class="container pl-4 pr-0 py-0 ma-0 container--fluid">
                                        <div data-v-bfa6ccb2="" class="row no-gutters">
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2" style="background: rgba(33, 150, 243, 0.5);">
                                                        Заказы
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                90 шт.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2" style="background: rgb(33, 150, 243);">
                                                        Заказов на сумму
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                99&nbsp;193 ₽
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2 grey">
                                                        Средний чек продажи
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                1&nbsp;156 ₽
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                        </div>
                                        <div data-v-bfa6ccb2="" class="row no-gutters">
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2" style="background: rgba(0, 191, 165, 0.5);">
                                                        Продажи
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                42 шт.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2" style="background: rgba(0, 191, 165, 0.5);">
                                                        Выкуп
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                43 %
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2" style="background: rgb(0, 191, 165);">
                                                        Продано на сумму
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                48&nbsp;559 ₽
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2" style="background: rgb(182, 112, 244);">
                                                        Прибыль за период
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                10&nbsp;588 ₽
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                        </div>
                                        <div data-v-bfa6ccb2="" class="row no-gutters">
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2" style="background: rgba(255, 179, 0, 0.5);">
                                                        Отказы
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                33 шт.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2" style="background: rgba(255, 179, 0, 0.5);">
                                                        Отказы
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                37 %
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2 grey">
                                                        Продано - возвраты
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                36&nbsp;693 ₽
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2 grey">
                                                        Маржинальность
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                43 %
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                        </div>
                                        <div data-v-bfa6ccb2="" class="row no-gutters">
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2" style="background: rgba(255, 64, 129, 0.5);">
                                                        Возвраты
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                10 шт.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2" style="background: rgba(255, 64, 129, 0.5);">
                                                        Возвраты
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                11 %
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                </span>
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2" style="background: rgb(255, 64, 129);">
                                                        Сумма возвратов
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                11&nbsp;866 ₽
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2 grey">
                                                        Планируемый маржинальный доход
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                89 %
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                        </div>
                                        <div data-v-bfa6ccb2="" class="row no-gutters">
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2 grey">
                                                        Товаров с оборачиваемостью ≤ 14 дней
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                12 шт.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2 grey">
                                                        Себестоимость остатков на WB
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                72&nbsp;501 ₽
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2 grey">
                                                        Потенциал выручки на сегодня
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                370&nbsp;583 ₽
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                            <div data-v-bfa6ccb2="" class="pr-2 pb-2 col col-3">
                                                <div data-v-bfa6ccb2="" class="v-card v-sheet v-sheet--outlined theme--light">
                                                    <div data-v-bfa6ccb2="" class="v-card__title subtitle-2 py-1 px-2 grey">
                                                        Остатков на WB
                                                    </div>
                                                    <hr data-v-bfa6ccb2="" role="separator" aria-orientation="horizontal"
                                                        class="v-divider theme--light">
                                                    <div data-v-bfa6ccb2="" role="list" class="v-list pa-0 v-sheet theme--light v-list--dense">
                                                        <div data-v-bfa6ccb2="" tabindex="-1" role="listitem" class="px-2 totalItem v-list-item theme--light">
                                                            <div data-v-bfa6ccb2="" class="v-list-item__content align-end caption font-weight-bold py-0">
                                                                167 шт.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span data-v-bfa6ccb2="" class="v-tooltip v-tooltip--bottom">
                                                    <!---->
                                                </span>
                                            </div>
                                        </div>
                                        <div data-v-bfa6ccb2="" class="row no-gutters">
                                            <div data-v-bfa6ccb2="" class="pr-4 pb-4 col">
                                                <div data-v-bfa6ccb2="" class="" style="max-width: 100%; position: relative;">
                                                    <canvas id="line-chart--T7G9S" width="1583" height="500" style="max-width: 100%; max-height: 100%; display: block; box-sizing: border-box; height: 400px; width: 1266.4px;">
                                                    </canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-v-bfa6ccb2="" class="row no-gutters">
                                            <div data-v-bfa6ccb2="" class="pr-4 pb-4 col">
                                                <div data-v-bfa6ccb2="" class="" style="max-width: 100%; position: relative;">
                                                    <canvas id="bar-chart-ARvrnx" width="1583" height="500" style="max-width: 100%; max-height: 100%; display: block; box-sizing: border-box; height: 400px; width: 1266.4px;">
                                                    </canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-v-bfa6ccb2="" class="row no-gutters">
                                            <div data-v-bfa6ccb2="" class="pr-4 pb-4 chart-container col">
                                                <div data-v-bfa6ccb2="" class="" style="max-width: 100%; position: relative;">
                                                    <canvas id="bar-chart-n-9aMX" width="1583" height="127" style="max-width: 100%; max-height: 100%; display: block; box-sizing: border-box; height: 101.6px; width: 1266.4px;">
                                                    </canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-v-bfa6ccb2="" class="row no-gutters">
                                            <div data-v-bfa6ccb2="" class="pr-4 pb-4 chart-container col">
                                                <div data-v-bfa6ccb2="" class="" style="max-width: 100%; position: relative;">
                                                    <canvas id="bar-chart-78Bsdc" width="1583" height="227" style="max-width: 100%; max-height: 100%; display: block; box-sizing: border-box; height: 181.6px; width: 1266.4px;">
                                                    </canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-v-bfa6ccb2="" class="row no-gutters">
                                            <div data-v-bfa6ccb2="" class="pr-4 pb-4 chart-container col">
                                                <div data-v-bfa6ccb2="" class="" style="max-width: 100%; position: relative;">
                                                    <canvas id="bar-chart-pJwton" width="1583" height="127" style="max-width: 100%; max-height: 100%; display: block; box-sizing: border-box; height: 101.6px; width: 1266.4px;">
                                                    </canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-v-bfa6ccb2="" class="row no-gutters">
                                            <div data-v-bfa6ccb2="" class="pr-4 pb-4 chart-container col">
                                                <div data-v-bfa6ccb2="" class="" style="max-width: 100%; position: relative;">
                                                    <canvas id="bar-chart-00VOPA" width="1583" height="227" style="max-width: 100%; max-height: 100%; display: block; box-sizing: border-box; height: 181.6px; width: 1266.4px;">
                                                    </canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                    <div class="v-dialog__container">
                        <!---->
                    </div>
                </div>
                <div role="dialog" aria-modal="true" class="v-dialog__content" style="z-index: 202;">
                    <div class="v-dialog v-dialog--persistent v-dialog--scrollable" style="transform-origin: center center; width: 600px; display: none;">
                        <div class="row no-gutters align-center justify-center">
                            <div class="col">
                                <form novalidate="novalidate" class="v-form">
                                    <div class="elevation-12 v-card v-sheet theme--light">
                                        <header class="flex-grow-0 v-sheet theme--dark v-toolbar primary" style="height: 64px;">
                                            <div class="v-toolbar__content" style="height: 64px;">
                                                <div class="v-toolbar__title">
                                                </div>
                                                <div class="spacer">
                                                </div>
                                                <button type="button" class="v-btn v-btn--icon v-btn--round v-btn--text theme--dark v-size--default">
                                                    <span class="v-btn__content">
                                                        <i aria-hidden="true" class="v-icon notranslate mdi mdi-close theme--dark">
                                                        </i>
                                                    </span>
                                                </button>
                                            </div>
                                        </header>
                                        <div class="v-card__title subtitle-1">
                                            <span>
                                            </span>
                                        </div>
                                        <div class="v-card__actions pa-4">
                                            <div class="row no-gutters justify-center">
                                                <button type="button" class="v-btn v-btn--is-elevated v-btn--has-bg theme--light v-size--default primary">
                                                    <span class="v-btn__content">
                                                        Закрыть
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-bfa6ccb2="" class="v-tooltip__content" style="left: 411.5px; top: 402px; z-index: 8; display: none;">
                    <div data-v-bfa6ccb2="">
                        Конверсия всех событий заказов за выбранный период в возврат. Здесь все
                        просто :)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="h2ZaMDo3Y" role="status" aria-live="polite" aria-atomic="false">
    </div>
</body>

</html>